
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body scroll="no" id="bgimg">
<div >
     <div class="icon-bar">
        <img src="assets\images\logo22.png" class="img-circle"   alt="Cinque Terre" width="100" height="90">
        
        <img src="assets\images\Capture1.png" alt="Cinque Terre"  hspace="60" width="100" height="90" style="align-content:middle">
    </div> 

    <nav class="navbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse navbar-center" id="myNavbar">
                <ul class="nav navbar-nav navbar-text">
                    <li class="active" ><a href="Home.html">Home</a></li>
                    <li><a href="Homeplace.html">PalceOrder</a></li>
                    <li><a [routerLink]="'homepage/ViewOrder'" routerLinkActive="router-link-active" >ViewOrder</a></li>
                    <li><a [routerLink]="'homepage/contact-form'" routerLinkActive="router-link-active" >Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row content">
            <div class="sidenav">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="#">Home</a></li>
                    <li><a [routerLink]="'placeorder'" routerLinkActive="router-link-active" >PalceOrder</a></li>
                    <li><a [routerLink]="'vieworder'" routerLinkActive="router-link-active" >ViewOrder</a></li>
                    <li><a [routerLink]="'contact-form'" routerLinkActive="router-link-active" >Contact Us</a></li>
                </ul>
            </div>
         
             <!-- <div class="jumbotron">
                <h1 class="display-4">“Just a note to say you’re special”</h1>
                <p class="text-center" style="text-justify:trim">
                   A gift, no matter how small, is a statement that you care about someone. 
                   It is a gesture of love and peace that can make an enormous difference to a person. 
                Acts of kindness are very important, but a gift endures in a way that an act of kindness doesn't
                </p>


            </div>  -->
            
            <div class="t1">
                <a href="HomePlace.html"><button id="button" onclick="HomePlace.html" class="btn default">Place Order</button></a>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
</body>

