.navbar {
background-color: dodgerblue;
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
}
.nav.navbar-nav.navbar-text li a{
        color:white;
        align-content: center;
    }



#button {
    margin-left:250px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    height: 100px;
    width: 1060px;
    animation: blinkingText 1.2s infinite;
    font-size:30px;
    margin-right:400px;
    
}
.default {
border-color: #e7e7e7;
color: black;

}

.default:hover {
background-color:lightgoldenrodyellow;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }

    49% {
        color: #000;
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #000;
    }
}

.jumbotron {
    margin-left:250px;
    margin-top: 50px;
    margin-right:40px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    
}

.row.content {
    height: 100px;
}

/* Set gray background color and 100% height */
.sidenav {
    height: 200%;
    width: 200px;
    position:absolute;
    /*z-index: 1;
    left: 0;*/
    color: white;
    background-color: black;
    /*overflow-x: hidden;*/
    padding-top: 20px;
}


.icon-bar {
    width: 100%;
    background-color: black;
    overflow: auto;
    margin-bottom:10px;
}


#bgimg {
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-size: cover;
    
    height:1500px;
    background-image:url("https://thumbs.dreamstime.com/b/gold-gift-box-black-background-festive-background-gold-gift-box-gold-ribbon-bow-black-background-flat-lay-top-167623046.jpg")
}
.nav.navbar-nav.navbar-right li a{
        color: white;
    }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width:767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
